flows.json
[{"id":"212d815c.fa01ae","type":"tab","label":"LichtFlurOben","disabled":false,"info":""},{"id":"bc652bc1.5cb178","type":"tab","label":"Treppenhaus","disabled":false,"info":""},{"id":"21b626ca.24781a","type":"tab","label":"Lüfter","disabled":false,"info":""},{"id":"8797ef2b.f9f06","type":"tab","label":"Schlafzimmer","disabled":false,"info":""},{"id":"7590b81b.f59cd8","type":"tab","label":"WZ RGB Vitrine","disabled":false,"info":""},{"id":"39dec93d.c99876","type":"tab","label":"Zigbee-Steckdosen","disabled":false,"info":""},{"id":"f492f53a.b1dee8","type":"tab","label":"ZigbeeTaster","disabled":false,"info":""},{"id":"8a2785be.3d2fa8","type":"tab","label":"Zigbee-LED","disabled":false,"info":""},{"id":"493f55c3.c6de9c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Times New Roman,Times,serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Times New Roman,Times,serif"}},"angularTheme":{"primary":"green","accents":"blue","warn":"red","background":"grey","palette":"dark"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cddc343b.7f6d98","type":"mqtt-broker","name":"ioBroker-MQTT-Broker ","broker":"192.168.1.15","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"201b2450.200acc","type":"ui_tab","name":"FossysHome","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"fa07b329.2a729","type":"ui_group","name":"Lüfter","tab":"8fa1ed8b.1156","order":3,"disp":true,"width":"6","collapse":false},{"id":"8ce753be.fca91","type":"ui_group","name":"Steckdosen","tab":"201b2450.200acc","order":1,"disp":true,"width":4,"collapse":false},{"id":"5a4fbeb1787ed781","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"989513f8.898c8","order":5,"width":1,"height":1},{"id":"d88cd21aedb0553c","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"c285c3d5.f7de2","order":3,"width":1,"height":1},{"id":"39438baadcd79cae","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"e04c77a8.fce858","order":1,"width":1,"height":1},{"id":"b7e1f46348c9b48e","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"e04c77a8.fce858","order":3,"width":1,"height":1},{"id":"200042fa5aba4726","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"e04c77a8.fce858","order":4,"width":1,"height":1},{"id":"3d76deed4fe32f5a","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"e04c77a8.fce858","order":6,"width":1,"height":1},{"id":"c9cc372eace5e007","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"e04c77a8.fce858","order":7,"width":2,"height":1},{"id":"1e45d0eb05d6cb74","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"e04c77a8.fce858","order":9,"width":1,"height":1},{"id":"41bfb8cef638da43","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"e04c77a8.fce858","order":11,"width":1,"height":1},{"id":"761a659ab772cf2f","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"e04c77a8.fce858","order":13,"width":1,"height":1},{"id":"c9e25900e87a8318","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"33e0bfa4.d0cbe","order":3,"width":1,"height":1},{"id":"ffceb72bdad5c676","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"33e0bfa4.d0cbe","order":8,"width":2,"height":1},{"id":"e98bd1b9477db92a","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"33e0bfa4.d0cbe","order":10,"width":2,"height":1},{"id":"189fad53da57f64c","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"33e0bfa4.d0cbe","order":13,"width":1,"height":1},{"id":"2040a3211abbdbbc","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"33e0bfa4.d0cbe","order":15,"width":1,"height":1},{"id":"b52dfdf5ac8847a7","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"2ba4b128.8cdabe","order":4,"width":2,"height":1},{"id":"98180f61811a8a79","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"2ba4b128.8cdabe","order":7,"width":6,"height":1},{"id":"5c8ca1ce5a823c67","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"2ba4b128.8cdabe","order":10,"width":1,"height":1},{"id":"6386604cbba4bae6","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"2ba4b128.8cdabe","order":12,"width":1,"height":1},{"id":"13da5352.e6abad","type":"ui_group","name":"Vitrinenbeleuchtung","tab":"201b2450.200acc","order":2,"disp":true,"width":"6","collapse":false},{"id":"12e6fe28.060f92","type":"ui_group","name":"Treppenhaus","tab":"8fa1ed8b.1156","order":2,"disp":true,"width":"6","collapse":false},{"id":"34749a78.4ea7b6","type":"ui_group","name":"Licht Flur Oben","tab":"8fa1ed8b.1156","order":1,"disp":true,"width":"6","collapse":false},{"id":"2688d197.13871e","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"34749a78.4ea7b6","order":4,"width":1,"height":1},{"id":"3d4ff79c.1b6b78","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"34749a78.4ea7b6","order":6,"width":1,"height":1},{"id":"863ef73c.6d7ab8","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"34749a78.4ea7b6","order":9,"width":6,"height":1},{"id":"d7778cd8.362c3","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"34749a78.4ea7b6","order":12,"width":1,"height":1},{"id":"e92cf370.e2131","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"34749a78.4ea7b6","order":14,"width":1,"height":1},{"id":"409a60fe.41662","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"12e6fe28.060f92","order":4,"width":1,"height":1},{"id":"e498fa9a.77e2b8","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"12e6fe28.060f92","order":6,"width":1,"height":1},{"id":"1e93bd76.045693","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"12e6fe28.060f92","order":9,"width":6,"height":1},{"id":"886cfee5.471b1","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"12e6fe28.060f92","order":12,"width":1,"height":1},{"id":"1569530.51e52ad","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"12e6fe28.060f92","order":14,"width":1,"height":1},{"id":"5e2331ae.d41ac","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"fa07b329.2a729","order":7,"width":6,"height":1},{"id":"dbede509.54ee58","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"fa07b329.2a729","order":10,"width":1,"height":1},{"id":"56a887a7.757b18","type":"ui_spacer","z":"7590b81b.f59cd8","name":"spacer","group":"fa07b329.2a729","order":12,"width":1,"height":1},{"id":"8fa1ed8b.1156","type":"ui_tab","name":"Settings","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"1df4d7a2.c3e7d8","type":"ui_group","name":"Licht","tab":"201b2450.200acc","order":4,"disp":true,"width":3,"collapse":false},{"id":"6b8a9624.e3eb38","type":"ui_tab","name":"Test","icon":"dashboard","disabled":false,"hidden":false},{"id":"e7c314ce.0afe98","type":"ui_group","name":"LED-Streifen","tab":"201b2450.200acc","order":3,"disp":true,"width":6,"collapse":false},{"id":"f1c1e0f5.ae51c","type":"ui_group","name":"Group 1","tab":"6b8a9624.e3eb38","order":1,"disp":true,"width":6},{"id":"fe205248.f04ed","type":"ui_tab","name":"Geräte","icon":"dashboard","order":1},{"id":"a5672c4.3064dd","type":"ui_spacer","z":"8797ef2b.f9f06","name":"spacer","group":"13da5352.e6abad","order":3,"width":2,"height":1},{"id":"85adbc3f.a6426","type":"ui_spacer","z":"8797ef2b.f9f06","name":"spacer","group":"13da5352.e6abad","order":4,"width":2,"height":1},{"id":"15f31334.fb410d","type":"ui_spacer","z":"8797ef2b.f9f06","name":"spacer","group":"13da5352.e6abad","order":7,"width":1,"height":1},{"id":"17e76f10.5b28e1","type":"ui_spacer","z":"8797ef2b.f9f06","name":"spacer","group":"13da5352.e6abad","order":9,"width":1,"height":1},{"id":"e169cfc7.19fc1","type":"ui_spacer","z":"8797ef2b.f9f06","name":"spacer","group":"13da5352.e6abad","order":11,"width":1,"height":1},{"id":"6849753e.27139c","type":"ui_spacer","z":"8797ef2b.f9f06","name":"spacer","group":"e7c314ce.0afe98","order":2,"width":4,"height":1},{"id":"fde850e9.9374e","type":"ui_spacer","z":"8797ef2b.f9f06","name":"spacer","group":"e7c314ce.0afe98","order":3,"width":2,"height":1},{"id":"757cebc2.458d04","type":"ui_spacer","z":"8797ef2b.f9f06","name":"spacer","group":"e7c314ce.0afe98","order":5,"width":1,"height":1},{"id":"5b2057a8.0e3158","type":"ui_spacer","z":"8797ef2b.f9f06","name":"spacer","group":"e7c314ce.0afe98","order":7,"width":1,"height":1},{"id":"23f41a1c.2d6e66","type":"ui_spacer","z":"8797ef2b.f9f06","name":"spacer","group":"e7c314ce.0afe98","order":10,"width":1,"height":1},{"id":"271a5cc0.754064","type":"ui_spacer","z":"8797ef2b.f9f06","name":"spacer","group":"e7c314ce.0afe98","order":12,"width":1,"height":1},{"id":"f504a5e3.e0bdc8","type":"ui_spacer","z":"8797ef2b.f9f06","name":"spacer","group":"e7c314ce.0afe98","order":14,"width":1,"height":1},{"id":"9374078c.cab868","type":"ui_slider","z":"21b626ca.24781a","name":"Set OnDelay","label":"On Delay: {{value}} min","tooltip":"","group":"fa07b329.2a729","order":8,"width":6,"height":1,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"1","max":"20","step":"1","x":710,"y":940,"wires":[["1b304c1f.ee6b84"]]},{"id":"d936118e.098d5","type":"ui_slider","z":"21b626ca.24781a","name":"set OffDelay","label":"Off Delay:  {{value}} min","tooltip":"","group":"fa07b329.2a729","order":9,"width":6,"height":1,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"1","max":"20","step":"1","x":710,"y":1020,"wires":[["24c758d.9831fa8"]]},{"id":"c0d98315.76868","type":"change","z":"21b626ca.24781a","name":"default Times","rules":[{"t":"set","p":"payload","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":940,"wires":[["9374078c.cab868"]]},{"id":"38dc6843.2f0fc8","type":"change","z":"21b626ca.24781a","name":"default Times","rules":[{"t":"set","p":"payload","pt":"msg","to":"6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1020,"wires":[["d936118e.098d5"]]},{"id":"ab38caa6.cf8328","type":"inject","z":"21b626ca.24781a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":110,"y":920,"wires":[["1e17b97d.d1f6e7","8e22d560.659a48"]]},{"id":"c34196a1.87b998","type":"ui_switch","z":"21b626ca.24781a","name":"BadeMode","label":"Timer ON/OFF","tooltip":"","group":"fa07b329.2a729","order":4,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"WebSwitch","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":190,"y":420,"wires":[["dbcc40d1.463c6","3380ab95.556cd4"]]},{"id":"5d5eb86a.f24208","type":"change","z":"21b626ca.24781a","name":"Set flow.OnDelay","rules":[{"t":"move","p":"payload","pt":"msg","to":"OnDelay","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":940,"wires":[[]]},{"id":"7372efdb.67a92","type":"change","z":"21b626ca.24781a","name":"Set flow.OffDelay","rules":[{"t":"move","p":"payload","pt":"msg","to":"OffDelay","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":1020,"wires":[[]]},{"id":"42516d26.d359f4","type":"inject","z":"21b626ca.24781a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":55,"y":480,"wires":[["c34196a1.87b998"]],"l":false},{"id":"8e22d560.659a48","type":"ui_button","z":"21b626ca.24781a","name":"","group":"fa07b329.2a729","order":11,"width":4,"height":1,"passthru":true,"label":"Reset","tooltip":"Zurücksetzen","color":"","bgcolor":"rgba(80,80,0,0)","icon":"fa-undo fa","payload":"","payloadType":"date","topic":"reset","topicType":"str","x":330,"y":980,"wires":[["c0d98315.76868","38dc6843.2f0fc8"]]},{"id":"c53cebd1.d99698","type":"comment","z":"21b626ca.24781a","name":"Dashbord / Settings","info":"\n","x":110,"y":840,"wires":[]},{"id":"1b3fe1b1.19e91e","type":"ui_numeric","z":"21b626ca.24781a","name":"Set Bademode Time","label":"Zeit: ","tooltip":"","group":"fa07b329.2a729","order":2,"width":3,"height":2,"wrap":true,"passthru":true,"topic":"","topicType":"str","format":"{{value}} min.","min":"5","max":"30","step":"5","x":700,"y":860,"wires":[["1ab7b690.06c389"]]},{"id":"1ab7b690.06c389","type":"change","z":"21b626ca.24781a","name":"SET flow.BademodeTime","rules":[{"t":"move","p":"payload","pt":"msg","to":"BademodeTime","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":860,"wires":[[]]},{"id":"1e17b97d.d1f6e7","type":"change","z":"21b626ca.24781a","name":"default Times","rules":[{"t":"set","p":"payload","pt":"msg","to":"20","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":860,"wires":[["1b3fe1b1.19e91e"]]},{"id":"5b403c87.0e2ef4","type":"ui_text","z":"21b626ca.24781a","group":"fa07b329.2a729","order":5,"width":3,"height":1,"name":"","label":"Temp:","format":"{{value}} &degC","layout":"row-left","x":1230,"y":640,"wires":[]},{"id":"23ff3e04.7260d2","type":"ui_text","z":"21b626ca.24781a","group":"fa07b329.2a729","order":6,"width":3,"height":1,"name":"","label":"Feuchte ","format":"{{value}} %","layout":"row-left","x":240,"y":760,"wires":[]},{"id":"dcc1e6f4.670fb8","type":"ioBroker in","z":"21b626ca.24781a","name":"Humidity","topic":"zigbee.0.00158d000540ea86.humidity","payloadType":"value","onlyack":"","func":"all","gap":"","fireOnStart":"false","x":80,"y":660,"wires":[["23ff3e04.7260d2","239c766f.20d54a"]]},{"id":"852d4e9c.fea5c","type":"ioBroker in","z":"21b626ca.24781a","name":"Temperature","topic":"zigbee.0.00158d000540ea86.temperature","payloadType":"value","onlyack":"","func":"all","gap":"","fireOnStart":"false","x":1050,"y":640,"wires":[["5b403c87.0e2ef4"]]},{"id":"4c91be90.0da47","type":"ui_switch","z":"21b626ca.24781a","name":"Web On/Off","label":"","tooltip":"ON / OFF","group":"fa07b329.2a729","order":1,"width":3,"height":2,"passthru":true,"decouple":"false","topic":"WebSwitch","topicType":"str","style":"","onvalue":"true","onvalueType":"str","onicon":"fa-spinner fa-spin fa-3x fa-fw","oncolor":"yellow","offvalue":"false","offvalueType":"str","officon":"fa-circle-o fa-4x ","offcolor":"grey","animate":true,"x":830,"y":200,"wires":[["e9af6ee2.72606"]]},{"id":"be5f2dd9.f3a7c","type":"stoptimer-varidelay","z":"21b626ca.24781a","duration":"15","durationType":"num","units":"Minute","payloadtype":"str","payloadval":"false","name":"Timer","reporting":"every_second","persist":false,"ignoretimerpass":false,"x":710,"y":460,"wires":[["e9af6ee2.72606","95194c9c.f5efc"],[],["d3fd1042.93f7a"]]},{"id":"d3fd1042.93f7a","type":"ui_text","z":"21b626ca.24781a","group":"fa07b329.2a729","order":3,"width":3,"height":1,"name":"Timer Anzeige","label":"Timer: ","format":"{{msg.payload}}","layout":"row-left","x":920,"y":480,"wires":[]},{"id":"18d0ea97.df6905","type":"change","z":"21b626ca.24781a","name":"stop","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":460,"wires":[["be5f2dd9.f3a7c"]]},{"id":"e9af6ee2.72606","type":"combine-if","z":"21b626ca.24781a","topic":"BadeMode","name":"BadeMode on/off","timeout":0,"x":1050,"y":340,"wires":[[],[]]},{"id":"76671acc.125a44","type":"inject","z":"21b626ca.24781a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":550,"y":520,"wires":[["be5f2dd9.f3a7c"]]},{"id":"152b1976.9af367","type":"change","z":"21b626ca.24781a","name":"set delay","rules":[{"t":"set","p":"topic","pt":"msg","to":"BadeMode","tot":"str"},{"t":"set","p":"delay","pt":"msg","to":"BademodeTime","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":400,"wires":[["be5f2dd9.f3a7c"]]},{"id":"dbcc40d1.463c6","type":"switch","z":"21b626ca.24781a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":420,"wires":[["152b1976.9af367"],["18d0ea97.df6905"]]},{"id":"7d55af24.da7da","type":"switch","z":"21b626ca.24781a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":140,"wires":[["83072d67.a94d"],["22736bb4.6d26a4","fc4ee59.ad37418"]]},{"id":"83072d67.a94d","type":"change","z":"21b626ca.24781a","name":"Button","rules":[{"t":"set","p":"delay","pt":"msg","to":"OnDelay","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"Button_ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":100,"wires":[["854b1b77.84f9c8"]]},{"id":"22736bb4.6d26a4","type":"change","z":"21b626ca.24781a","name":"OffDelay","rules":[{"t":"set","p":"delay","pt":"msg","to":"OffDelay","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":200,"wires":[["f8874ac2.bf8518"]]},{"id":"fc4ee59.ad37418","type":"change","z":"21b626ca.24781a","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":140,"wires":[["854b1b77.84f9c8"]]},{"id":"854b1b77.84f9c8","type":"delay","z":"21b626ca.24781a","name":"OnDelay","pauseType":"delayv","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":620,"y":140,"wires":[["4c91be90.0da47"]]},{"id":"c5dc2131.3dbfa","type":"rbe","z":"21b626ca.24781a","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":155,"y":140,"wires":[["7d55af24.da7da"]],"l":false},{"id":"23c61dab.e5dc32","type":"change","z":"21b626ca.24781a","name":"SetTopic","rules":[{"t":"set","p":"topic","pt":"msg","to":"LuefterAN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":240,"wires":[["f8874ac2.bf8518"]]},{"id":"f8874ac2.bf8518","type":"combine-if","z":"21b626ca.24781a","topic":"LuefterAN","name":"If ","timeout":0,"x":515,"y":220,"wires":[["6887c326.eebfdc"],[]],"l":false},{"id":"3380ab95.556cd4","type":"change","z":"21b626ca.24781a","name":"Set Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"BadeMode","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":340,"wires":[["e9af6ee2.72606"]]},{"id":"6adfb9b0.d8c188","type":"rbe","z":"21b626ca.24781a","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":155,"y":240,"wires":[["23c61dab.e5dc32"]],"l":false},{"id":"9714dca3.85e0b","type":"comment","z":"21b626ca.24781a","name":"Bademode: Lüfter beim Baden aus ","info":"\n","x":160,"y":320,"wires":[]},{"id":"f5d96673.b83638","type":"comment","z":"21b626ca.24781a","name":"Lüftersteuerung: Verzögert an und mit Nachlauf","info":"\n","x":200,"y":40,"wires":[]},{"id":"58c67812.fc37b8","type":"comment","z":"21b626ca.24781a","name":"Lüfter an bei Feuchtig > 70 ... >90","info":"\n","x":150,"y":580,"wires":[]},{"id":"239c766f.20d54a","type":"switch","z":"21b626ca.24781a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"75","vt":"str"},{"t":"lt","v":"65","vt":"str"},{"t":"gt","v":"90","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":250,"y":660,"wires":[["d9b4e74d.47a9d8"],["5bd3ae0d.149a2"],["e34a7014.897a"]]},{"id":"ca687a6.eff4588","type":"link in","z":"21b626ca.24781a","name":"FeuchteAN_IN","links":["680444c6.e2e2bc","23f7189d.562aa8"],"x":655,"y":260,"wires":[["4c91be90.0da47"]]},{"id":"62d8ff55.9f719","type":"link in","z":"21b626ca.24781a","name":"Feuchte90_IN","links":["23f7189d.562aa8"],"x":1135,"y":400,"wires":[[]]},{"id":"d9b4e74d.47a9d8","type":"change","z":"21b626ca.24781a","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":620,"wires":[["3bb6be16.c7c3c2"]]},{"id":"680444c6.e2e2bc","type":"link out","z":"21b626ca.24781a","name":"FeuchteAN_OUT","links":["ca687a6.eff4588"],"x":795,"y":660,"wires":[]},{"id":"5bd3ae0d.149a2","type":"change","z":"21b626ca.24781a","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":660,"wires":[["680444c6.e2e2bc","21611362.b50d4c"]]},{"id":"3bb6be16.c7c3c2","type":"trigger","z":"21b626ca.24781a","name":"","op1":"true","op2":"false","op1type":"str","op2type":"str","duration":"5","extend":false,"overrideDelay":false,"units":"min","reset":"off","bytopic":"all","topic":"topic","outputs":1,"x":690,"y":620,"wires":[["680444c6.e2e2bc"]]},{"id":"95194c9c.f5efc","type":"link out","z":"21b626ca.24781a","name":"False_OUT","links":["67ef8f34.ca534"],"x":855,"y":440,"wires":[]},{"id":"67ef8f34.ca534","type":"link in","z":"21b626ca.24781a","name":"False_IN","links":["95194c9c.f5efc"],"x":55,"y":420,"wires":[["c34196a1.87b998"]]},{"id":"e34a7014.897a","type":"change","z":"21b626ca.24781a","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":720,"wires":[["3695655.4898a9a"]]},{"id":"3695655.4898a9a","type":"trigger","z":"21b626ca.24781a","name":"","op1":"true","op2":"false","op1type":"str","op2type":"str","duration":"5","extend":false,"overrideDelay":false,"units":"min","reset":"off","bytopic":"all","topic":"topic","outputs":1,"x":690,"y":720,"wires":[["23f7189d.562aa8"]]},{"id":"23f7189d.562aa8","type":"link out","z":"21b626ca.24781a","name":"Feuchte90_OUT","links":["62d8ff55.9f719","ca687a6.eff4588"],"x":795,"y":720,"wires":[]},{"id":"e9fa28e1.6ebbf8","type":"comment","z":"21b626ca.24781a","name":"Temperaturanzeige","info":"\n","x":1070,"y":580,"wires":[]},{"id":"2f71be65.d18692","type":"ioBroker in","z":"8797ef2b.f9f06","name":"Click event","topic":"zigbee.0.00158d0006b888da.click","payloadType":"value","onlyack":"","func":"all","gap":"","fireOnStart":"false","x":100,"y":320,"wires":[["69ab59a8.f707f8"]]},{"id":"78d082d8.f8770c","type":"ui_switch","z":"39dec93d.c99876","name":"Lichterkette","label":"Lichterkette","tooltip":"","group":"8ce753be.fca91","order":1,"width":4,"height":1,"passthru":false,"decouple":"true","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":490,"y":120,"wires":[["4c554a12.4f2a34"]]},{"id":"48e52175.2857e","type":"comment","z":"39dec93d.c99876","name":"LIDL PLUG 2","info":"","x":110,"y":60,"wires":[]},{"id":"67f0faf7.74daa4","type":"comment","z":"39dec93d.c99876","name":"LIDL PLUG 3","info":"","x":110,"y":200,"wires":[]},{"id":"a7a8733b.12801","type":"comment","z":"7590b81b.f59cd8","name":"README Shelly RGBW 2","info":"// README in Dutch\nIk moest even uitvogelen wat precies wat is. Zoals ik het nu begrijp:\n\nJe kan de RGB kleuren mixen door de waardes van red, green, blue een waarde te geven van 0...255. Nu kan je met de gain 0...100 bepalen hoe vel de red, green, blue moet branden.\n\nVerder is er nog een white kanaal, dit kanaal stuurt de apparte strook witte leds aan. White kan je instellen van 0...255.\n\nMeer is het niet.\n\n{\n    \"mode\": \"color\",\n    \"red\": 255,\n    \"green\": 255,\n    \"blue\": 255,\n    \"gain\": 100,\n    \"white\": 1,\n    \"effect\": 0,\n    \"turn\": \"on\"\n}\n\nApple's homekit gebruikt HSL\n\nHSL (hue, saturation, lightness) or HSB (hue, saturation, brightness) are similar.\n\n- Hue (Nederlands: tint), is wat we gewoonlijk 'kleur' noemen, zeg een punt op de regenboog.\n    In het HSV-model wordt de kleur uitgezet op een cirkel, en wordt de plek aangeduid in graden: Hue loopt dus van 0 tot 360 (graden).\n\n- Saturation (Nederlands: verzadiging) dit geeft een hoeveelheid (of felheid) van een kleur aan.\n    Wordt uitgedrukt in procenten, en loopt van 0% (flets, grijs) naar 100% (volle kleur).\n\n- Value of Brightness (Nederlands: intensiteit): staat voor de lichtheid van de kleur.\n    Wordt uitgedrukt in procenten, en loopt van 0% (zwart) naar 100% (wit).","x":110,"y":180,"wires":[]},{"id":"850e06d9.929898","type":"mqtt in","z":"7590b81b.f59cd8","name":"MQTT_IN_RGB","topic":"shellies/shellyrgbw2/color/0/status","qos":"0","datatype":"auto","broker":"cddc343b.7f6d98","nl":false,"rap":false,"x":80,"y":220,"wires":[["9e57dabc.e85968"]]},{"id":"3a68746b.975284","type":"json","z":"7590b81b.f59cd8","name":"","property":"payload","action":"","pretty":false,"x":355,"y":220,"wires":[["c871a826.5835b8"]],"l":false},{"id":"c871a826.5835b8","type":"function","z":"7590b81b.f59cd8","name":"∞","func":"// fix repeated messages\nlet millisecondsBetweenMessages = 10;\nlet previousTime=context.get('time') || 0;\nlet currentTime=Math.round(Date.now());\nlet timeDifference=currentTime-previousTime;\n\n// set variable for next round\ncontext.set('time', currentTime);\n\nif (timeDifference < millisecondsBetweenMessages){\n    node.warn('To fast: '+timeDifference+'ms');\n    msg = null; // stop msg from sending\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":415,"y":220,"wires":[["f5eb3528.ab87c8","657d00a0.f85cd","87e5a868.895738","21d4b228.f4c38e","e23e79cc.6589f"]],"icon":"node-red/timer.svg","l":false},{"id":"b4755127.234048","type":"mqtt out","z":"7590b81b.f59cd8","name":"MQTT_OUT_RGB","topic":"","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cddc343b.7f6d98","x":1390,"y":240,"wires":[]},{"id":"719ebf6f.82eca","type":"function","z":"7590b81b.f59cd8","name":"prep RGB","func":"let red = msg.payload.r\nlet green = msg.payload.g\nlet blue = msg.payload.b\n\n// create message\nmsg.payload = {\"red\": red, \"green\": green, \"blue\": blue}\n\n// return message\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":240,"wires":[["d145861f.6db85","d4bc7f06.d880c"]]},{"id":"47c1266c.06303","type":"ui_slider","z":"7590b81b.f59cd8","name":"Helligkeit","label":"Helligkeit","tooltip":"","group":"13da5352.e6abad","order":12,"width":6,"height":1,"passthru":true,"outs":"end","topic":"","topicType":"str","min":0,"max":"100","step":1,"x":740,"y":360,"wires":[["cfb1162e.fb9cb"]]},{"id":"cfb1162e.fb9cb","type":"function","z":"7590b81b.f59cd8","name":"prep gain","func":"// create message\nmsg.payload = {\"gain\": msg.payload}\n\n// return message\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":360,"wires":[["d145861f.6db85","10ae5d2e.c1e083"]]},{"id":"f5eb3528.ab87c8","type":"function","z":"7590b81b.f59cd8","name":"on/off","func":"msg.payload = msg.payload.ison ? 'on' : 'off';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":80,"wires":[["39424381.514bd4","9f4f8033.c508d"]]},{"id":"39424381.514bd4","type":"debug","z":"7590b81b.f59cd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":535,"y":120,"wires":[],"l":false},{"id":"d145861f.6db85","type":"function","z":"7590b81b.f59cd8","name":"complete payload","func":"// b.nelissen\n// 2020 augustus\n// get the default payload\n// add the payload of the flow\n// add the new values to the flow payload\n// safe the new payload\n// return the new payload\n\n// a bug in the colorpicker:\n//   when the colorpicker gets a 0,0,0 it stops sending changes in color signal\n//   therefor I send 123, 123, 123 by default\n\nmsg.topic = \"shellies/shellyrgbw2/color/0/set\"\n\n// msg.payload[\"On\"]\n\ndefaultPayload = {\n    \"mode\": \"color\",\n    \"red\": 123,\n    \"green\": 123,\n    \"blue\": 123,\n    \"gain\": 50,\n    \"white\": 0,\n    \"effect\": 0,\n    \"turn\": \"off\"\n}\n\n// merge payloads & remove all unneeded keys\nfunction mergePayloads(dest, src) {\n    for(var key in src) {\n        if (key in defaultPayload){\n            dest[key] = src[key];\n        }\n    } \n    return dest; \n}\n\n// default + flow\nvar newPayload = mergePayloads(defaultPayload, flow.get('flowPayload'));\n\n// flow + new\nnewPayload = mergePayloads(newPayload, msg.payload);\n\n// store new payload in flow\nflow.set('flowPayload', newPayload)\n\n// get the data from the flow variable (so we get we stored)\nmsg.payload = flow.get('flowPayload')\n\n// return the new payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":240,"wires":[["b4755127.234048"]]},{"id":"b8c1220d.677f88","type":"function","z":"7590b81b.f59cd8","name":"prep ison","func":"// create message\nmsg.payload = {\"turn\": msg.payload}\n\n// return message\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":80,"wires":[["d145861f.6db85","993606a8.e0f86"]]},{"id":"657d00a0.f85cd","type":"function","z":"7590b81b.f59cd8","name":"Helligkeit","func":"msg.payload = msg.payload.gain;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":360,"wires":[["47c1266c.06303","b1b2d5b6.ec76c8"]]},{"id":"b1b2d5b6.ec76c8","type":"debug","z":"7590b81b.f59cd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":535,"y":400,"wires":[],"l":false},{"id":"1c5aa489.64575b","type":"debug","z":"7590b81b.f59cd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":535,"y":220,"wires":[],"l":false},{"id":"87e5a868.895738","type":"function","z":"7590b81b.f59cd8","name":"rgb","func":"msg.payload = { \"r\" : msg.payload.red,\n                \"g\" : msg.payload.green,\n                \"b\" : msg.payload.blue\n                };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":180,"wires":[["1c5aa489.64575b","82c71e4db46e29a8"]]},{"id":"37cc7997.fb6916","type":"ui_slider","z":"7590b81b.f59cd8","d":true,"name":"Weiß","label":"Weiß","tooltip":"","group":"13da5352.e6abad","order":13,"width":6,"height":1,"passthru":true,"outs":"end","topic":"","topicType":"str","min":0,"max":"255","step":1,"x":730,"y":460,"wires":[["ad1b3d8d.fe8ea8"]]},{"id":"ad1b3d8d.fe8ea8","type":"function","z":"7590b81b.f59cd8","name":"prep white","func":"// create message\nmsg.payload = {\"white\": msg.payload}\n\n// return message\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":460,"wires":[["d145861f.6db85","1f0a6826.471d88"]]},{"id":"21d4b228.f4c38e","type":"function","z":"7590b81b.f59cd8","name":"Weiss","func":"msg.payload = msg.payload.white;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":460,"wires":[["37cc7997.fb6916","2de24b41.077c5c"]]},{"id":"2de24b41.077c5c","type":"debug","z":"7590b81b.f59cd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":535,"y":500,"wires":[],"l":false},{"id":"1f0a6826.471d88","type":"debug","z":"7590b81b.f59cd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":895,"y":500,"wires":[],"l":false},{"id":"10ae5d2e.c1e083","type":"debug","z":"7590b81b.f59cd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":895,"y":400,"wires":[],"l":false},{"id":"d4bc7f06.d880c","type":"debug","z":"7590b81b.f59cd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":895,"y":280,"wires":[],"l":false},{"id":"993606a8.e0f86","type":"debug","z":"7590b81b.f59cd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":895,"y":120,"wires":[],"l":false},{"id":"45386d77.4c707c","type":"comment","z":"7590b81b.f59cd8","name":"Homekit bugs","info":"The HomeKit node has a problem when ever it is deployed. If you have to deploy it more than once (hint: you will have to) then you’ll want to restart node-red for HomeKit to keep working. \n\nReload the browser window\n\n```\ncommand-R\n```\n\n\nEasiest restart:\n\n```\nsudo systemctl restart nodered.service\n```\n\n[source:](https://community.openhab.org/t/my-node-red-homekit-openhab-setup/54577)","x":70,"y":140,"wires":[]},{"id":"f51d2028.5d0af","type":"function","z":"7590b81b.f59cd8","name":"prep effect","func":"// create message\nmsg.payload = {\"effect\": msg.payload}\n\n// return message\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":560,"wires":[["39a60ba1.e004c4","d145861f.6db85"]]},{"id":"e23e79cc.6589f","type":"function","z":"7590b81b.f59cd8","name":"effect","func":"msg.payload = msg.payload.effect;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":560,"wires":[["318506.a01e9afa","b945869f.3805f"]]},{"id":"318506.a01e9afa","type":"debug","z":"7590b81b.f59cd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":535,"y":600,"wires":[],"l":false},{"id":"39a60ba1.e004c4","type":"debug","z":"7590b81b.f59cd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":895,"y":600,"wires":[],"l":false},{"id":"b945869f.3805f","type":"ui_dropdown","z":"7590b81b.f59cd8","name":"Effecs","label":"Effecs","tooltip":"","place":"","group":"13da5352.e6abad","order":2,"width":4,"height":1,"passthru":true,"multiple":false,"options":[{"label":"OFF","value":"0","type":"str"},{"label":"Meteor Shower","value":"1","type":"str"},{"label":"Gradual Change","value":"2","type":"str"},{"label":"Flash","value":"3","type":"str"}],"payload":"","topic":"","topicType":"str","x":730,"y":560,"wires":[["f51d2028.5d0af"]]},{"id":"9f4f8033.c508d","type":"ui_switch","z":"7590b81b.f59cd8","name":"RGB ON/OFF","label":"ON / OFF","tooltip":"","group":"13da5352.e6abad","order":1,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"on","onvalueType":"str","onicon":"fa-lightbulb-o fa-4x nr-dashboard-warning","oncolor":"green","offvalue":"off","offvalueType":"str","officon":"fa-lightbulb-o fa-4x align=left","offcolor":"gray","animate":true,"x":760,"y":80,"wires":[["b8c1220d.677f88"]]},{"id":"8b7a7fe.dfaaf8","type":"ui_button","z":"7590b81b.f59cd8","name":"Red","group":"13da5352.e6abad","order":6,"width":1,"height":1,"passthru":false,"label":"Rot","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"{\"r\": 255, \"g\": 0, \"b\": 0, \"a\": 1}","payloadType":"json","topic":"rot","topicType":"str","x":730,"y":220,"wires":[["719ebf6f.82eca"]]},{"id":"5c0ee293.08f10c","type":"ui_button","z":"7590b81b.f59cd8","name":"Green","group":"13da5352.e6abad","order":8,"width":1,"height":1,"passthru":false,"label":"Grün","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"{\"r\": 0, \"g\": 255, \"b\": 0, \"a\": 1}","payloadType":"json","topic":"green","topicType":"str","x":730,"y":260,"wires":[["719ebf6f.82eca"]]},{"id":"8cb367d8.0caf48","type":"ui_button","z":"7590b81b.f59cd8","name":"Blau","group":"13da5352.e6abad","order":10,"width":1,"height":1,"passthru":false,"label":"Blue","tooltip":"","color":"","bgcolor":"Blue","icon":"","payload":"{\"r\": 0, \"g\": 0, \"b\": 255, \"a\": 1}","payloadType":"json","topic":"blau","topicType":"str","x":730,"y":300,"wires":[["719ebf6f.82eca"]]},{"id":"9e57dabc.e85968","type":"rbe","z":"7590b81b.f59cd8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":250,"y":220,"wires":[["3a68746b.975284"]]},{"id":"82c71e4db46e29a8","type":"ui_colour_picker","z":"7590b81b.f59cd8","name":"RGB","label":"","group":"13da5352.e6abad","format":"rgb","outformat":"object","showSwatch":true,"showPicker":true,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":5,"width":4,"height":4,"passthru":true,"topic":"","topicType":"str","x":730,"y":180,"wires":[["719ebf6f.82eca"]]},{"id":"89f7ab41.e4e8e8","type":"ioBroker in","z":"39dec93d.c99876","name":"LIDL-Plug-2","topic":"zigbee.0.ec1bbdfffea71232.state","payloadType":"value","onlyack":true,"func":"rbe","gap":"","fireOnStart":"false","x":110,"y":120,"wires":[["b51d0469.191e98"]]},{"id":"4c554a12.4f2a34","type":"ioBroker out","z":"39dec93d.c99876","name":"LIDL-Plug-2","topic":"zigbee.0.ec1bbdfffea71232.state","ack":"false","autoCreate":"false","stateName":"","role":"","payloadType":"","readonly":"","stateUnit":"","stateMin":"","stateMax":"","x":690,"y":120,"wires":[]},{"id":"c95269d4.617d28","type":"ui_switch","z":"39dec93d.c99876","name":"Drucker","label":"Drucker","tooltip":"","group":"8ce753be.fca91","order":2,"width":4,"height":1,"passthru":false,"decouple":"true","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":480,"y":260,"wires":[["90508182.dbbd"]]},{"id":"9834c606.849b58","type":"ioBroker in","z":"39dec93d.c99876","name":"LIDL-Plug-3","topic":"zigbee.0.842e14fffef31540.state","payloadType":"value","onlyack":true,"func":"rbe","gap":"","fireOnStart":"false","x":110,"y":260,"wires":[["332c296e.128a06"]]},{"id":"90508182.dbbd","type":"ioBroker out","z":"39dec93d.c99876","name":"LIDL-Plug-3","topic":"zigbee.0.842e14fffef31540.state","ack":"false","autoCreate":"false","stateName":"","role":"","payloadType":"","readonly":"","stateUnit":"","stateMin":"","stateMax":"","x":690,"y":260,"wires":[]},{"id":"b51d0469.191e98","type":"change","z":"39dec93d.c99876","name":"str -> boolean","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":120,"wires":[["78d082d8.f8770c"]]},{"id":"1b304c1f.ee6b84","type":"unit-converter","z":"21b626ca.24781a","category":"time","inputUnit":"min","outputUnit":"ms","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":false,"outputFieldDecimals":2,"name":"min->ms","x":900,"y":940,"wires":[["5d5eb86a.f24208"]]},{"id":"24c758d.9831fa8","type":"unit-converter","z":"21b626ca.24781a","category":"time","inputUnit":"min","outputUnit":"ms","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":false,"outputFieldDecimals":2,"name":"min->ms","x":900,"y":1020,"wires":[["7372efdb.67a92"]]},{"id":"8900cf4b.bbb3b","type":"ioBroker in","z":"21b626ca.24781a","name":"Button","topic":"shelly.0.SHSW-1#500291F0AB2A#1.Relay0.Input","payloadType":"value","onlyack":"","func":"all","gap":"","fireOnStart":"false","x":70,"y":140,"wires":[["c5dc2131.3dbfa"]]},{"id":"40833eda.44f01","type":"ioBroker in","z":"21b626ca.24781a","name":"Relais","topic":"shelly.0.SHSW-1#500291F0AB2A#1.Relay0.Switch","payloadType":"value","onlyack":"","func":"all","gap":"","fireOnStart":"false","x":70,"y":240,"wires":[["6adfb9b0.d8c188"]]},{"id":"2fb75e1b.ab7042","type":"ioBroker out","z":"21b626ca.24781a","name":"Relais","topic":"shelly.0.SHSW-1#500291F0AB2A#1.Relay0.Switch","ack":"false","autoCreate":"false","stateName":"","role":"","payloadType":"","readonly":"","stateUnit":"","stateMin":"","stateMax":"","x":1310,"y":340,"wires":[]},{"id":"6887c326.eebfdc","type":"delay","z":"21b626ca.24781a","name":"OffDelay","pauseType":"delayv","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":620,"y":200,"wires":[["4c91be90.0da47"]]},{"id":"21611362.b50d4c","type":"change","z":"21b626ca.24781a","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":680,"wires":[["3bb6be16.c7c3c2","3695655.4898a9a"]]},{"id":"4f7a8d8a.9a6e94","type":"stoptimer-varidelay","z":"bc652bc1.5cb178","duration":"20","durationType":"num","units":"Second","payloadtype":"str","payloadval":"stopped","name":"Countdown","reporting":"every_second","persist":false,"ignoretimerpass":false,"x":770,"y":700,"wires":[[],["bdf8d43b.4057f8"],["bdf8d43b.4057f8"]]},{"id":"6ecc02b7.da7b9c","type":"comment","z":"bc652bc1.5cb178","name":"Settings","info":"Time - Setting for \"short\" and \"long\" Press","x":80,"y":880,"wires":[]},{"id":"a02a4b1f.583f88","type":"change","z":"bc652bc1.5cb178","name":"default","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":880,"wires":[["3fb318f0.0285b8"]]},{"id":"cdd00c06.9e75d","type":"change","z":"bc652bc1.5cb178","name":"default","rules":[{"t":"set","p":"payload","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":960,"wires":[["94abbe56.32d56"]]},{"id":"9104d3fa.6c3f8","type":"inject","z":"bc652bc1.5cb178","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":110,"y":920,"wires":[["c1c85cd5.df972"]]},{"id":"e370477f.65fd48","type":"change","z":"bc652bc1.5cb178","name":"set delay_short","rules":[{"t":"move","p":"payload","pt":"msg","to":"delay_short","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":880,"wires":[[]]},{"id":"30a21086.7cd7f","type":"change","z":"bc652bc1.5cb178","name":"set delay_long","rules":[{"t":"move","p":"payload","pt":"msg","to":"delay_long","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":960,"wires":[[]]},{"id":"c9abb035.2970a","type":"switch","z":"bc652bc1.5cb178","name":"","property":"payload.val","propertyType":"msg","rules":[{"t":"lt","v":"150","vt":"num"},{"t":"gte","v":"150","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":560,"wires":[["4eba1c22.167db4"],["d628ec1e.8ce"]]},{"id":"97a318dd.bde698","type":"ui_text","z":"bc652bc1.5cb178","group":"12e6fe28.060f92","order":7,"width":3,"height":1,"name":"Temperatur","label":"Temperatur: ","format":"{{msg.payload}}°C","layout":"row-left","x":1150,"y":460,"wires":[]},{"id":"4eba1c22.167db4","type":"change","z":"bc652bc1.5cb178","name":"dunkel","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":540,"wires":[["75654982.0de9e8"]]},{"id":"d628ec1e.8ce","type":"change","z":"bc652bc1.5cb178","name":"hell","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":580,"wires":[["75654982.0de9e8"]]},{"id":"c8c9eea0.eddbd","type":"comment","z":"bc652bc1.5cb178","name":"BWM ","info":"Time - Setting for \"short\" and \"long\" Press","x":70,"y":280,"wires":[]},{"id":"c9e919ae.463f88","type":"ui_switch","z":"bc652bc1.5cb178","name":"BWM_aktive","label":"BWM ","tooltip":"Bewegungsmelder aktiv","group":"12e6fe28.060f92","order":3,"width":3,"height":1,"passthru":false,"decouple":"true","topic":"BWM_aktive","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-check-circle-o fa-2x","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"fa-circle-o fa-2x","offcolor":"grey","animate":true,"x":870,"y":600,"wires":[[]]},{"id":"81fb3902.35a218","type":"ui_text","z":"bc652bc1.5cb178","group":"12e6fe28.060f92","order":8,"width":3,"height":1,"name":"Helligkeit","label":"Helligkeit: ","format":"{{msg.payload.val}} lux","layout":"row-left","x":280,"y":460,"wires":[]},{"id":"3fb318f0.0285b8","type":"ui_slider","z":"bc652bc1.5cb178","name":"short time","label":"Short: {{value}} Min","tooltip":"","group":"12e6fe28.060f92","order":10,"width":6,"height":1,"passthru":true,"outs":"end","topic":"TimerShort","topicType":"str","min":"0.1","max":"3","step":"0.1","x":660,"y":880,"wires":[["d661a518.b206e8"]]},{"id":"94abbe56.32d56","type":"ui_slider","z":"bc652bc1.5cb178","name":"long time","label":"Long:  {{value}} Min","tooltip":"","group":"12e6fe28.060f92","order":11,"width":6,"height":1,"passthru":true,"outs":"end","topic":"TimerLong","topicType":"str","min":"3","max":"10","step":"1","x":660,"y":960,"wires":[["c4ca7a11.5f0e38"]]},{"id":"c1c85cd5.df972","type":"ui_button","z":"bc652bc1.5cb178","name":"","group":"12e6fe28.060f92","order":13,"width":4,"height":1,"passthru":true,"label":"Reset","tooltip":"Zurücksetzen","color":"","bgcolor":"rgba(80,80,80,0)","icon":"fa-undo fa","payload":"","payloadType":"date","topic":"reset","topicType":"str","x":280,"y":920,"wires":[["a02a4b1f.583f88","cdd00c06.9e75d"]]},{"id":"c4ca7a11.5f0e38","type":"unit-converter","z":"bc652bc1.5cb178","category":"time","inputUnit":"min","outputUnit":"s","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":false,"outputFieldDecimals":2,"name":"min -> ms","x":850,"y":960,"wires":[["30a21086.7cd7f"]]},{"id":"bdf8d43b.4057f8","type":"ui_text","z":"bc652bc1.5cb178","group":"12e6fe28.060f92","order":5,"width":4,"height":1,"name":"Timer Anzeige","label":"Timer","format":"{{msg.payload}}","layout":"row-left","x":980,"y":700,"wires":[]},{"id":"3b6e747f.257a0c","type":"change","z":"bc652bc1.5cb178","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":720,"wires":[["4f7a8d8a.9a6e94"]]},{"id":"92875458.e6fbc8","type":"ioBroker in","z":"bc652bc1.5cb178","name":"Illuminance","topic":"zigbee.0.00158d0006401fa5.illuminance","payloadType":"object","onlyack":false,"func":"all","gap":"","fireOnStart":"false","x":90,"y":460,"wires":[["c9abb035.2970a","81fb3902.35a218"]]},{"id":"b04e702e.5f246","type":"ioBroker in","z":"bc652bc1.5cb178","name":"Temperature","topic":"zigbee.0.00158d0006401fa5.temperature","payloadType":"value","onlyack":"","func":"all","gap":"","fireOnStart":"false","x":970,"y":460,"wires":[["97a318dd.bde698"]]},{"id":"804e8a5e.d474e8","type":"ioBroker in","z":"bc652bc1.5cb178","name":"Event","topic":"shelly.0.SHSW-1#E8DB84D46DCC#1.Relay0.Event","payloadType":"value","onlyack":true,"func":"all","gap":"","fireOnStart":"false","x":70,"y":220,"wires":[["5f54b8e2.e2dfb8","6c82290f.a3cda8"]]},{"id":"60ce0e73.4dc22","type":"ioBroker in","z":"bc652bc1.5cb178","name":"Relais","topic":"shelly.0.SHSW-1#E8DB84D46DCC#1.Relay0.Switch","payloadType":"value","onlyack":"","func":"all","gap":"","fireOnStart":"false","x":90,"y":700,"wires":[["7ae5ddb8.7a3564","bdabdaac.fda948","2aebd750.cdf3b8","cbaa00ce.7131a"]]},{"id":"97530296.0ee4d","type":"ioBroker in","z":"bc652bc1.5cb178","name":"Occupancy","topic":"zigbee.0.00158d0006401fa5.occupancy","payloadType":"value","onlyack":true,"func":"all","gap":"","fireOnStart":"false","x":80,"y":320,"wires":[["35cecea0.6ab852"]]},{"id":"3ea7293c.ff8bd6","type":"ui_switch","z":"bc652bc1.5cb178","name":"","label":"AN / AUS","tooltip":"","group":"12e6fe28.060f92","order":1,"width":3,"height":1,"passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":620,"y":120,"wires":[["39658501.e9d98a","5ae666f5.c7eae8"]]},{"id":"7ae5ddb8.7a3564","type":"ui_switch","z":"bc652bc1.5cb178","name":"Anzeige","label":"","tooltip":"Licht An / Aus","group":"12e6fe28.060f92","order":2,"width":3,"height":2,"passthru":false,"decouple":"true","topic":"WebSwitchFlur","topicType":"str","style":"","onvalue":"true","onvalueType":"str","onicon":"fa-lightbulb-o fa-4x align=left","oncolor":"yellow","offvalue":"false","offvalueType":"str","officon":"fa-lightbulb-o fa-4x align=left","offcolor":"grey","animate":true,"x":380,"y":740,"wires":[[]]},{"id":"35cecea0.6ab852","type":"switch","z":"bc652bc1.5cb178","name":"onlyTRUE","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":320,"wires":[["485354ce.0e942c"]]},{"id":"5f54b8e2.e2dfb8","type":"switch","z":"bc652bc1.5cb178","name":"Long/Short","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"L","vt":"str"},{"t":"eq","v":"S","vt":"str"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":3,"x":610,"y":220,"wires":[["a2563a06.d88188"],["f96aa5cd.506ac8"],[]]},{"id":"a516e1d5.03abd","type":"ioBroker out","z":"bc652bc1.5cb178","name":"AutoOffTime","topic":"shelly.0.SHSW-1#E8DB84D46DCC#1.Relay0.AutoTimerOff","ack":"false","autoCreate":"false","stateName":"","role":"","payloadType":"","readonly":"","stateUnit":"","stateMin":"","stateMax":"","x":1270,"y":160,"wires":[]},{"id":"a2563a06.d88188","type":"change","z":"bc652bc1.5cb178","name":"long","rules":[{"t":"set","p":"topic","pt":"msg","to":"Button_pressed","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"delay_long","tot":"flow"},{"t":"set","p":"Timer","pt":"flow","to":"delay_long","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":200,"wires":[["f3450f76.1eab9"]]},{"id":"f96aa5cd.506ac8","type":"change","z":"bc652bc1.5cb178","name":"short","rules":[{"t":"set","p":"topic","pt":"msg","to":"Button_pressed","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"delay_short","tot":"flow"},{"t":"set","p":"Timer","pt":"flow","to":"delay_short","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":240,"wires":[["f3450f76.1eab9"]]},{"id":"e3edb469.a0d188","type":"ioBroker in","z":"bc652bc1.5cb178","name":"Longpush","topic":"shelly.0.SHSW-1#E8DB84D46DCC#1.Relay0.longpush","payloadType":"value","onlyack":true,"func":"all","gap":"","fireOnStart":"false","x":80,"y":80,"wires":[["d2685859.3af338"]]},{"id":"39658501.e9d98a","type":"ioBroker out","z":"bc652bc1.5cb178","name":"Relais Switch","topic":"shelly.0.SHSW-1#E8DB84D46DCC#1.Relay0.Switch","ack":"false","autoCreate":"false","stateName":"","role":"","payloadType":"","readonly":"","stateUnit":"","stateMin":"","stateMax":"","x":1280,"y":80,"wires":[]},{"id":"d2685859.3af338","type":"switch","z":"bc652bc1.5cb178","name":"onlyTRUE","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":80,"wires":[["39658501.e9d98a"]]},{"id":"26bdf4d6.e7ab3c","type":"switch","z":"bc652bc1.5cb178","name":"True/False","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":700,"wires":[["4e15e941.c94c18"],["3b6e747f.257a0c","ff3f22cb.f218a"]]},{"id":"4e15e941.c94c18","type":"change","z":"bc652bc1.5cb178","name":"Timer","rules":[{"t":"set","p":"delay","pt":"msg","to":"Timer","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"Timer","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":680,"wires":[["4f7a8d8a.9a6e94"]]},{"id":"d661a518.b206e8","type":"unit-converter","z":"bc652bc1.5cb178","category":"time","inputUnit":"min","outputUnit":"s","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":false,"outputFieldDecimals":2,"name":"min -> ms","x":850,"y":880,"wires":[["e370477f.65fd48"]]},{"id":"a52e194f.633ce8","type":"change","z":"bc652bc1.5cb178","name":"BWM_20sec_on","rules":[{"t":"set","p":"topic","pt":"msg","to":"BWM_trigger","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Timer","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":300,"wires":[["f3450f76.1eab9","f8f984f6.292608"]]},{"id":"3ab4d767.858458","type":"ioBroker out","z":"bc652bc1.5cb178","name":"Relais Switch","topic":"shelly.0.SHSW-1#E8DB84D46DCC#1.Relay0.Switch","ack":"false","autoCreate":"false","stateName":"","role":"","payloadType":"","readonly":"","stateUnit":"","stateMin":"","stateMax":"","x":1420,"y":300,"wires":[]},{"id":"485354ce.0e942c","type":"combine-if","z":"bc652bc1.5cb178","topic":"BWM_aktive","name":"If ","timeout":0,"x":795,"y":320,"wires":[["a52e194f.633ce8"],[]],"l":false},{"id":"75654982.0de9e8","type":"change","z":"bc652bc1.5cb178","name":"Set Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"BWM_Flur_Helligkeit","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":560,"wires":[["fb5fa384.dd0d"]]},{"id":"bdabdaac.fda948","type":"change","z":"bc652bc1.5cb178","name":"STR->Boolean","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"Lichtan","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":660,"wires":[["fb5fa384.dd0d"]]},{"id":"fb5fa384.dd0d","type":"BooleanLogic","z":"bc652bc1.5cb178","name":"","operation":"OR","inputCount":2,"topic":"BWM_aktive","x":690,"y":600,"wires":[["c9e919ae.463f88","485354ce.0e942c"]]},{"id":"2b6bf9a3.e7bb66","type":"comment","z":"bc652bc1.5cb178","name":"Shelly Taster","info":"Time - Setting for \"short\" and \"long\" Press","x":90,"y":40,"wires":[]},{"id":"93a45543.0dee88","type":"change","z":"bc652bc1.5cb178","name":"WEB_ON 1h","rules":[{"t":"set","p":"topic","pt":"msg","to":"long_pressed","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"7200","tot":"num"},{"t":"set","p":"Timer","pt":"flow","to":"7200","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":160,"wires":[["a516e1d5.03abd"]]},{"id":"5ae666f5.c7eae8","type":"change","z":"bc652bc1.5cb178","name":"Set Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"WEB_On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":160,"wires":[["93a45543.0dee88","f3450f76.1eab9"]]},{"id":"f3450f76.1eab9","type":"combine-if","z":"bc652bc1.5cb178","topic":"WEB_On","name":"If ","timeout":0,"x":1115,"y":220,"wires":[[],["a516e1d5.03abd"]],"l":false},{"id":"eec2a1ba.7cb5f","type":"comment","z":"39dec93d.c99876","name":"LIDL PLUG 4","info":"","x":110,"y":340,"wires":[]},{"id":"373ec415.c721fc","type":"ui_switch","z":"39dec93d.c99876","name":"Tannenbaum","label":"Tannenbaum","tooltip":"","group":"f1c1e0f5.ae51c","order":2,"width":4,"height":1,"passthru":false,"decouple":"true","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":490,"y":400,"wires":[["bb119e0c.6e8a9"]]},{"id":"8a3bcaa8.054c28","type":"ioBroker in","z":"39dec93d.c99876","name":"LIDL-Plug-4","topic":"zigbee.0.842e14fffe52eee8.state","payloadType":"value","onlyack":true,"func":"rbe","gap":"","fireOnStart":"false","x":110,"y":400,"wires":[["67c48ed9.6d855"]]},{"id":"bb119e0c.6e8a9","type":"ioBroker out","z":"39dec93d.c99876","name":"LIDL-Plug-4","topic":"zigbee.0.842e14fffe52eee8.state","ack":"false","autoCreate":"false","stateName":"","role":"","payloadType":"","readonly":"","stateUnit":"","stateMin":"","stateMax":"","x":690,"y":400,"wires":[]},{"id":"332c296e.128a06","type":"change","z":"39dec93d.c99876","name":"str -> boolean","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":260,"wires":[["c95269d4.617d28"]]},{"id":"67c48ed9.6d855","type":"change","z":"39dec93d.c99876","name":"str -> boolean","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":400,"wires":[["373ec415.c721fc"]]},{"id":"dffaf90d.8ee9d8","type":"ioBroker out","z":"f492f53a.b1dee8","name":"LIDL-Plug-4","topic":"zigbee.0.842e14fffe52eee8.state","ack":"false","autoCreate":"false","stateName":"","role":"","payloadType":"","readonly":"","stateUnit":"","stateMin":"","stateMax":"","x":890,"y":440,"wires":[]},{"id":"4c66412c.e7e03","type":"ioBroker in","z":"f492f53a.b1dee8","name":"single","topic":"zigbee.0.00158d0006c57d6a.single","payloadType":"value","onlyack":"","func":"all","gap":"","fireOnStart":"false","x":110,"y":160,"wires":[["d4a3b20a.628f8"]]},{"id":"35494cd9.9454d4","type":"ioBroker in","z":"f492f53a.b1dee8","name":"double","topic":"zigbee.0.00158d0006c57d6a.double","payloadType":"value","onlyack":"","func":"all","gap":"","fireOnStart":"false","x":110,"y":440,"wires":[["bee3aa69.a26998"]]},{"id":"7fcafad7.df9074","type":"ioBroker in","z":"f492f53a.b1dee8","name":"Hold","topic":"zigbee.0.00158d0006c57d6a.hold","payloadType":"value","onlyack":"","func":"all","gap":"","fireOnStart":"false","x":110,"y":260,"wires":[["dace6269.420a2"]]},{"id":"d4a3b20a.628f8","type":"switch","z":"f492f53a.b1dee8","name":"onlyTRUE","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":160,"wires":[["3649d820.e52b08"]]},{"id":"868de07b.5f648","type":"ioBroker in","z":"f492f53a.b1dee8","name":"LIDL-Plug-4","topic":"zigbee.0.842e14fffe52eee8.state","payloadType":"value","onlyack":true,"func":"rbe","gap":"","fireOnStart":"false","x":130,"y":380,"wires":[["eca90c77.3a77c","95c89929.d5dc08"]]},{"id":"142918b4.96ef77","type":"change","z":"f492f53a.b1dee8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":100,"wires":[["3649d820.e52b08"]]},{"id":"3649d820.e52b08","type":"combine-if","z":"f492f53a.b1dee8","topic":"on","name":"If ","timeout":0,"x":575,"y":160,"wires":[["7a480287.d9a45c"],["36778fbf.de477"]],"l":false},{"id":"36778fbf.de477","type":"change","z":"f492f53a.b1dee8","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":180,"wires":[["60eee1e1.506cf"]]},{"id":"7a480287.d9a45c","type":"change","z":"f492f53a.b1dee8","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":140,"wires":[["60eee1e1.506cf"]]},{"id":"dace6269.420a2","type":"switch","z":"f492f53a.b1dee8","name":"onlyTRUE","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":260,"wires":[["6850884f.4458c8"]]},{"id":"95c89929.d5dc08","type":"change","z":"f492f53a.b1dee8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":300,"wires":[["6850884f.4458c8"]]},{"id":"6850884f.4458c8","type":"combine-if","z":"f492f53a.b1dee8","topic":"on","name":"If ","timeout":0,"x":575,"y":260,"wires":[["69d95dc4.9d2f64"],["e38a143c.416cf8"]],"l":false},{"id":"e38a143c.416cf8","type":"change","z":"f492f53a.b1dee8","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":280,"wires":[["dffaf90d.8ee9d8","60eee1e1.506cf"]]},{"id":"69d95dc4.9d2f64","type":"change","z":"f492f53a.b1dee8","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":240,"wires":[["dffaf90d.8ee9d8","60eee1e1.506cf"]]},{"id":"bee3aa69.a26998","type":"switch","z":"f492f53a.b1dee8","name":"onlyTRUE","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":440,"wires":[["755a584e.ac5438"]]},{"id":"eca90c77.3a77c","type":"change","z":"f492f53a.b1dee8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":380,"wires":[["755a584e.ac5438"]]},{"id":"755a584e.ac5438","type":"combine-if","z":"f492f53a.b1dee8","topic":"on","name":"If ","timeout":0,"x":575,"y":440,"wires":[["92679d78.937b9"],["5b2f2386.5d478c"]],"l":false},{"id":"5b2f2386.5d478c","type":"change","z":"f492f53a.b1dee8","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":460,"wires":[["dffaf90d.8ee9d8"]]},{"id":"92679d78.937b9","type":"change","z":"f492f53a.b1dee8","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":420,"wires":[["dffaf90d.8ee9d8"]]},{"id":"ee857c4f.acc6e","type":"ioBroker in","z":"f492f53a.b1dee8","name":"LIDL-Plug-2","topic":"zigbee.0.ec1bbdfffea71232.state","payloadType":"value","onlyack":true,"func":"rbe","gap":"","fireOnStart":"false","x":130,"y":100,"wires":[["142918b4.96ef77"]]},{"id":"60eee1e1.506cf","type":"ioBroker out","z":"f492f53a.b1dee8","name":"LIDL-Plug-2","topic":"zigbee.0.ec1bbdfffea71232.state","ack":"false","autoCreate":"false","stateName":"","role":"","payloadType":"","readonly":"","stateUnit":"","stateMin":"","stateMax":"","x":890,"y":160,"wires":[]},{"id":"9d5967c3.fa11a8","type":"inject","z":"bc652bc1.5cb178","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":1255,"y":380,"wires":[["3ab4d767.858458"]],"l":false},{"id":"89a7fafc.09ce58","type":"change","z":"bc652bc1.5cb178","name":"SET flow.Timer = 20s","rules":[{"t":"set","p":"Timer","pt":"flow","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":800,"wires":[[]]},{"id":"91458a3a.7b6088","type":"inject","z":"bc652bc1.5cb178","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":515,"y":800,"wires":[["89a7fafc.09ce58"]],"l":false},{"id":"ff3f22cb.f218a","type":"delay","z":"bc652bc1.5cb178","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":515,"y":760,"wires":[["89a7fafc.09ce58"]],"l":false},{"id":"2cd992a9.5778fe","type":"comment","z":"bc652bc1.5cb178","name":"Shelly Taster","info":"Time - Setting for \"short\" and \"long\" Press","x":90,"y":180,"wires":[]},{"id":"5ee3675a.7e7488","type":"comment","z":"bc652bc1.5cb178","name":"Shelly Relais","info":"Time - Setting for \"short\" and \"long\" Press","x":90,"y":660,"wires":[]},{"id":"7e02520f.592ccc","type":"comment","z":"bc652bc1.5cb178","name":"BWM ","info":"Time - Setting for \"short\" and \"long\" Press","x":950,"y":420,"wires":[]},{"id":"dadb9c9e.d08ec","type":"comment","z":"bc652bc1.5cb178","name":"BWM ","info":"Time - Setting for \"short\" and \"long\" Press","x":70,"y":420,"wires":[]},{"id":"9a34412b.96191","type":"stoptimer-varidelay","z":"212d815c.fa01ae","duration":"20","durationType":"num","units":"Second","payloadtype":"str","payloadval":"stopped","name":"Countdown","reporting":"every_second","persist":false,"ignoretimerpass":false,"x":770,"y":700,"wires":[[],["9bb41a31.2f7bf8"],["9bb41a31.2f7bf8"]]},{"id":"9c9db835.dc3b48","type":"comment","z":"212d815c.fa01ae","name":"Settings","info":"Time - Setting for \"short\" and \"long\" Press","x":80,"y":880,"wires":[]},{"id":"16ce5c21.b87e34","type":"change","z":"212d815c.fa01ae","name":"default","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":880,"wires":[["793460a1.dd909"]]},{"id":"8b4bee02.a5528","type":"change","z":"212d815c.fa01ae","name":"default","rules":[{"t":"set","p":"payload","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":960,"wires":[["a106b70e.61df88"]]},{"id":"fdfa98c1.00cd68","type":"inject","z":"212d815c.fa01ae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":110,"y":920,"wires":[["29b5bb6.5124f44"]]},{"id":"16151cc2.328da3","type":"change","z":"212d815c.fa01ae","name":"set delay_short","rules":[{"t":"move","p":"payload","pt":"msg","to":"delay_short","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":880,"wires":[[]]},{"id":"145d9c00.507674","type":"change","z":"212d815c.fa01ae","name":"set delay_long","rules":[{"t":"move","p":"payload","pt":"msg","to":"delay_long","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":960,"wires":[[]]},{"id":"e979c9d6.7925c8","type":"switch","z":"212d815c.fa01ae","name":"","property":"payload.val","propertyType":"msg","rules":[{"t":"lt","v":"150","vt":"num"},{"t":"gte","v":"150","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":560,"wires":[["4712908b.effd8"],["5c69c1e1.bb448"]]},{"id":"ebf0d02d.be088","type":"ui_text","z":"212d815c.fa01ae","group":"34749a78.4ea7b6","order":7,"width":3,"height":1,"name":"Temperatur","label":"Temperatur: ","format":"{{msg.payload}}°C","layout":"row-left","x":1150,"y":460,"wires":[]},{"id":"4712908b.effd8","type":"change","z":"212d815c.fa01ae","name":"dunkel","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":540,"wires":[["67b8e12b.73428"]]},{"id":"5c69c1e1.bb448","type":"change","z":"212d815c.fa01ae","name":"hell","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":580,"wires":[["67b8e12b.73428"]]},{"id":"e350cbf0.73dd98","type":"comment","z":"212d815c.fa01ae","name":"BWM ","info":"Time - Setting for \"short\" and \"long\" Press","x":70,"y":280,"wires":[]},{"id":"76aca193.b53ba","type":"ui_switch","z":"212d815c.fa01ae","name":"BWM_aktive","label":"BWM ","tooltip":"Bewegungsmelder aktiv","group":"34749a78.4ea7b6","order":3,"width":3,"height":1,"passthru":false,"decouple":"true","topic":"BWM_aktive","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-check-circle-o fa-2x","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"fa-circle-o fa-2x","offcolor":"grey","animate":true,"x":870,"y":600,"wires":[[]]},{"id":"5f33b796.3ffa68","type":"ui_text","z":"212d815c.fa01ae","group":"34749a78.4ea7b6","order":8,"width":3,"height":1,"name":"Helligkeit","label":"Helligkeit: ","format":"{{msg.payload.val}} lux","layout":"row-left","x":280,"y":460,"wires":[]},{"id":"793460a1.dd909","type":"ui_slider","z":"212d815c.fa01ae","name":"short time","label":"Short: {{value}} Min","tooltip":"","group":"34749a78.4ea7b6","order":10,"width":6,"height":1,"passthru":true,"outs":"end","topic":"TimerShort","topicType":"str","min":"0.1","max":"3","step":"0.1","x":660,"y":880,"wires":[["c0ff89ad.94cb88"]]},{"id":"a106b70e.61df88","type":"ui_slider","z":"212d815c.fa01ae","name":"long time","label":"Long:  {{value}} Min","tooltip":"","group":"34749a78.4ea7b6","order":11,"width":6,"height":1,"passthru":true,"outs":"end","topic":"TimerLong","topicType":"str","min":"3","max":"10","step":"1","x":660,"y":960,"wires":[["814a9846.2cffc8"]]},{"id":"29b5bb6.5124f44","type":"ui_button","z":"212d815c.fa01ae","name":"","group":"34749a78.4ea7b6","order":13,"width":4,"height":1,"passthru":true,"label":"Reset","tooltip":"Zurücksetzen","color":"","bgcolor":"rgba(80,80,80,0)","icon":"fa-undo fa","payload":"","payloadType":"date","topic":"reset","topicType":"str","x":280,"y":920,"wires":[["16ce5c21.b87e34","8b4bee02.a5528"]]},{"id":"814a9846.2cffc8","type":"unit-converter","z":"212d815c.fa01ae","category":"time","inputUnit":"min","outputUnit":"s","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":false,"outputFieldDecimals":2,"name":"min -> ms","x":850,"y":960,"wires":[["145d9c00.507674"]]},{"id":"9bb41a31.2f7bf8","type":"ui_text","z":"212d815c.fa01ae","group":"34749a78.4ea7b6","order":5,"width":4,"height":1,"name":"Timer Anzeige","label":"Timer","format":"{{msg.payload}}","layout":"row-left","x":980,"y":700,"wires":[]},{"id":"2a79ba61.e3f0d6","type":"change","z":"212d815c.fa01ae","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":720,"wires":[["9a34412b.96191"]]},{"id":"5f518ddd.d99934","type":"ioBroker in","z":"212d815c.fa01ae","name":"Illuminance","topic":"zigbee.0.00158d000636d4b8.illuminance","payloadType":"object","onlyack":false,"func":"all","gap":"","fireOnStart":"false","x":90,"y":460,"wires":[["e979c9d6.7925c8","5f33b796.3ffa68"]]},{"id":"dd293350.2553a","type":"ioBroker in","z":"212d815c.fa01ae","name":"Temperature","topic":"zigbee.0.00158d000636d4b8.temperature","payloadType":"value","onlyack":"","func":"all","gap":"","fireOnStart":"false","x":970,"y":460,"wires":[["ebf0d02d.be088"]]},{"id":"3220b361.7e790c","type":"ioBroker in","z":"212d815c.fa01ae","name":"Event","topic":"shelly.0.SHSW-1#E09806962155#1.Relay0.Event","payloadType":"value","onlyack":true,"func":"all","gap":"","fireOnStart":"false","x":70,"y":220,"wires":[["f7ff1e0e.397de"]]},{"id":"59ec3d6e.71a964","type":"ioBroker in","z":"212d815c.fa01ae","name":"Relais","topic":"shelly.0.SHSW-1#E09806962155#1.Relay0.Switch","payloadType":"value","onlyack":"","func":"all","gap":"","fireOnStart":"false","x":90,"y":700,"wires":[["6f96a139.b5af1","118e700a.ccbe7","feb5707a.a16d1","b67baeb8.ef804"]]},{"id":"f1dbc534.3d21c8","type":"ioBroker in","z":"212d815c.fa01ae","name":"Occupancy","topic":"zigbee.0.00158d000636d4b8.occupancy","payloadType":"value","onlyack":true,"func":"all","gap":"","fireOnStart":"false","x":80,"y":320,"wires":[["9f7179e4.d130e8"]]},{"id":"2dfbf56.cd4690a","type":"ui_switch","z":"212d815c.fa01ae","name":"","label":"AN / AUS","tooltip":"","group":"34749a78.4ea7b6","order":1,"width":3,"height":1,"passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":620,"y":120,"wires":[["80ec11b5.3a9d3","e544fd65.fc395"]]},{"id":"6f96a139.b5af1","type":"ui_switch","z":"212d815c.fa01ae","name":"Anzeige","label":"","tooltip":"Licht An / Aus","group":"34749a78.4ea7b6","order":2,"width":3,"height":2,"passthru":false,"decouple":"true","topic":"WebSwitchFlur","topicType":"str","style":"","onvalue":"true","onvalueType":"str","onicon":"fa-lightbulb-o fa-4x align=left","oncolor":"yellow","offvalue":"false","offvalueType":"str","officon":"fa-lightbulb-o fa-4x align=left","offcolor":"grey","animate":true,"x":380,"y":740,"wires":[[]]},{"id":"9f7179e4.d130e8","type":"switch","z":"212d815c.fa01ae","name":"onlyTRUE","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":320,"wires":[["a45de200.3ba0a"]]},{"id":"f7ff1e0e.397de","type":"switch","z":"212d815c.fa01ae","name":"Long/Short","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"L","vt":"str"},{"t":"eq","v":"S","vt":"str"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":3,"x":610,"y":220,"wires":[["cfca4565.7f7228"],["e2e52d4f.987db"],[]]},{"id":"8a92fbc4.aebda8","type":"ioBroker out","z":"212d815c.fa01ae","name":"AutoOffTime","topic":"shelly.0.SHSW-1#E09806962155#1.Relay0.AutoTimerOff","ack":"false","autoCreate":"false","stateName":"","role":"","payloadType":"","readonly":"","stateUnit":"","stateMin":"","stateMax":"","x":1270,"y":160,"wires":[]},{"id":"cfca4565.7f7228","type":"change","z":"212d815c.fa01ae","name":"long","rules":[{"t":"set","p":"topic","pt":"msg","to":"Button_pressed","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"delay_long","tot":"flow"},{"t":"set","p":"Timer","pt":"flow","to":"delay_long","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":200,"wires":[["2fad7df4.f17be2"]]},{"id":"e2e52d4f.987db","type":"change","z":"212d815c.fa01ae","name":"short","rules":[{"t":"set","p":"topic","pt":"msg","to":"Button_pressed","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"delay_short","tot":"flow"},{"t":"set","p":"Timer","pt":"flow","to":"delay_short","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":240,"wires":[["2fad7df4.f17be2"]]},{"id":"b854d52b.3f0278","type":"ioBroker in","z":"212d815c.fa01ae","name":"Longpush","topic":"shelly.0.SHSW-1#E09806962155#1.Relay0.longpush","payloadType":"value","onlyack":true,"func":"all","gap":"","fireOnStart":"false","x":80,"y":80,"wires":[["958d4d5a.d59e2"]]},{"id":"80ec11b5.3a9d3","type":"ioBroker out","z":"212d815c.fa01ae","name":"Relais Switch","topic":"shelly.0.SHSW-1#E09806962155#1.Relay0.Switch","ack":"false","autoCreate":"false","stateName":"","role":"","payloadType":"","readonly":"","stateUnit":"","stateMin":"","stateMax":"","x":1280,"y":80,"wires":[]},{"id":"958d4d5a.d59e2","type":"switch","z":"212d815c.fa01ae","name":"onlyTRUE","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":80,"wires":[["80ec11b5.3a9d3"]]},{"id":"118e700a.ccbe7","type":"switch","z":"212d815c.fa01ae","name":"True/False","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":700,"wires":[["7db1708.a8f589"],["2a79ba61.e3f0d6","2f1c98cf.0001a8"]]},{"id":"7db1708.a8f589","type":"change","z":"212d815c.fa01ae","name":"Timer","rules":[{"t":"set","p":"delay","pt":"msg","to":"Timer","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":680,"wires":[["9a34412b.96191"]]},{"id":"c0ff89ad.94cb88","type":"unit-converter","z":"212d815c.fa01ae","category":"time","inputUnit":"min","outputUnit":"s","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":false,"outputFieldDecimals":2,"name":"min -> ms","x":850,"y":880,"wires":[["16151cc2.328da3"]]},{"id":"21fd03ce.92007c","type":"change","z":"212d815c.fa01ae","name":"BWM_20sec_on","rules":[{"t":"set","p":"topic","pt":"msg","to":"BWM_trigger","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Timer","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":300,"wires":[["2fad7df4.f17be2","401b65a0.ee85ec"]]},{"id":"56880424.20aa1c","type":"ioBroker out","z":"212d815c.fa01ae","name":"Relais Switch","topic":"shelly.0.SHSW-1#E09806962155#1.Relay0.Switch","ack":"false","autoCreate":"false","stateName":"","role":"","payloadType":"","readonly":"","stateUnit":"","stateMin":"","stateMax":"","x":1420,"y":300,"wires":[]},{"id":"a45de200.3ba0a","type":"combine-if","z":"212d815c.fa01ae","topic":"BWM_aktive","name":"If ","timeout":0,"x":795,"y":320,"wires":[["21fd03ce.92007c"],[]],"l":false},{"id":"67b8e12b.73428","type":"change","z":"212d815c.fa01ae","name":"Set Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"BWM_Flur_Helligkeit","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":560,"wires":[["35bd255a.2c343a"]]},{"id":"feb5707a.a16d1","type":"change","z":"212d815c.fa01ae","name":"STR->Boolean","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"Lichtan","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":660,"wires":[["35bd255a.2c343a"]]},{"id":"35bd255a.2c343a","type":"BooleanLogic","z":"212d815c.fa01ae","name":"","operation":"OR","inputCount":2,"topic":"BWM_aktive","x":690,"y":600,"wires":[["76aca193.b53ba","a45de200.3ba0a"]]},{"id":"674d1759.2302c8","type":"comment","z":"212d815c.fa01ae","name":"Shelly Taster","info":"Time - Setting for \"short\" and \"long\" Press","x":90,"y":40,"wires":[]},{"id":"30f97ec4.e1d1c2","type":"change","z":"212d815c.fa01ae","name":"WEB_ON 1h","rules":[{"t":"set","p":"topic","pt":"msg","to":"long_pressed","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"7200","tot":"num"},{"t":"set","p":"Timer","pt":"flow","to":"7200","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":160,"wires":[["8a92fbc4.aebda8"]]},{"id":"e544fd65.fc395","type":"change","z":"212d815c.fa01ae","name":"Set Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"WEB_On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":160,"wires":[["30f97ec4.e1d1c2","2fad7df4.f17be2"]]},{"id":"2fad7df4.f17be2","type":"combine-if","z":"212d815c.fa01ae","topic":"WEB_On","name":"If ","timeout":0,"x":1115,"y":220,"wires":[[],["8a92fbc4.aebda8"]],"l":false},{"id":"f7701a7b.3c8f08","type":"inject","z":"212d815c.fa01ae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":1235,"y":360,"wires":[["56880424.20aa1c"]],"l":false},{"id":"8be2d4a6.f3dc18","type":"change","z":"212d815c.fa01ae","name":"SET flow.Timer = 20s","rules":[{"t":"set","p":"Timer","pt":"flow","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":800,"wires":[[]]},{"id":"c3e9e77f.3245a8","type":"inject","z":"212d815c.fa01ae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":515,"y":800,"wires":[["8be2d4a6.f3dc18"]],"l":false},{"id":"2f1c98cf.0001a8","type":"delay","z":"212d815c.fa01ae","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":515,"y":760,"wires":[["8be2d4a6.f3dc18"]],"l":false},{"id":"c672b255.49047","type":"comment","z":"212d815c.fa01ae","name":"Shelly Taster","info":"Time - Setting for \"short\" and \"long\" Press","x":90,"y":180,"wires":[]},{"id":"2b2f7b85.571bb4","type":"comment","z":"212d815c.fa01ae","name":"Shelly Relais","info":"Time - Setting for \"short\" and \"long\" Press","x":90,"y":660,"wires":[]},{"id":"5a30136f.81281c","type":"comment","z":"212d815c.fa01ae","name":"BWM ","info":"Time - Setting for \"short\" and \"long\" Press","x":950,"y":420,"wires":[]},{"id":"d0c04743.ed6e18","type":"comment","z":"212d815c.fa01ae","name":"BWM ","info":"Time - Setting for \"short\" and \"long\" Press","x":70,"y":420,"wires":[]},{"id":"6c82290f.a3cda8","type":"debug","z":"bc652bc1.5cb178","name":"1111","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":280,"y":180,"wires":[]},{"id":"2aebd750.cdf3b8","type":"delay","z":"bc652bc1.5cb178","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":255,"y":700,"wires":[["26bdf4d6.e7ab3c"]],"l":false},{"id":"cd97a344.9c6d","type":"ioBroker in","z":"8797ef2b.f9f06","name":"Hold","topic":"zigbee.0.00158d0006b888da.hold","payloadType":"value","onlyack":"","func":"all","gap":"","fireOnStart":"false","x":90,"y":60,"wires":[["dca43cbd.c2cc7"]]},{"id":"dca43cbd.c2cc7","type":"switch","z":"8797ef2b.f9f06","name":"only true","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":60,"wires":[["8e190aa6.46d9f8"]]},{"id":"360ce4c5.cd82ec","type":"ioBroker out","z":"8797ef2b.f9f06","name":"LIDL-Plug-2","topic":"zigbee.0.ec1bbdfffea71232.state","ack":"false","autoCreate":"false","stateName":"","role":"","payloadType":"","readonly":"","stateUnit":"","stateMin":"","stateMax":"","x":1230,"y":60,"wires":[]},{"id":"401b65a0.ee85ec","type":"change","z":"212d815c.fa01ae","name":"Set Boolean True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":300,"wires":[["56880424.20aa1c"]]},{"id":"f8f984f6.292608","type":"change","z":"bc652bc1.5cb178","name":"Set Boolean True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":300,"wires":[["3ab4d767.858458"]]},{"id":"b90026bb.8b6fd8","type":"ui_colour_picker","z":"8a2785be.3d2fa8","name":"","label":"","group":"e7c314ce.0afe98","format":"hex","outformat":"string","showSwatch":true,"showPicker":true,"showValue":false,"showHue":true,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":8,"width":4,"height":4,"passthru":true,"topic":"topic","topicType":"msg","x":570,"y":180,"wires":[["350b76a3.f1459a"]]},{"id":"4addc950.9ae948","type":"ioBroker in","z":"8a2785be.3d2fa8","name":"LIDL-LED","topic":"zigbee.0.842e14fffe2c3b76.state","payloadType":"value","onlyack":true,"func":"rbe","gap":"","fireOnStart":"false","x":100,"y":100,"wires":[["919c5952.23fcb8"]]},{"id":"919c5952.23fcb8","type":"change","z":"8a2785be.3d2fa8","name":"str -> boolean","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":100,"wires":[["2732a4f2.087a0c"]]},{"id":"2732a4f2.087a0c","type":"ui_switch","z":"8a2785be.3d2fa8","name":"Lichterkette","label":"LED","tooltip":"","group":"e7c314ce.0afe98","order":1,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":570,"y":100,"wires":[["2f1e1734.324578"]]},{"id":"2f1e1734.324578","type":"ioBroker out","z":"8a2785be.3d2fa8","name":"LIDL-LED","topic":"zigbee.0.842e14fffe2c3b76.state","ack":"false","autoCreate":"false","stateName":"","role":"","payloadType":"","readonly":"","stateUnit":"","stateMin":"","stateMax":"","x":840,"y":100,"wires":[]},{"id":"841b8c10.c1976","type":"ioBroker in","z":"8a2785be.3d2fa8","name":"LIDL-LED-color","topic":"zigbee.0.842e14fffe2c3b76.color","payloadType":"value","onlyack":true,"func":"rbe","gap":"","fireOnStart":"false","x":120,"y":180,"wires":[["b90026bb.8b6fd8"]]},{"id":"350b76a3.f1459a","type":"ioBroker out","z":"8a2785be.3d2fa8","name":"LIDL-LED-Color","topic":"zigbee.0.842e14fffe2c3b76.color","ack":"false","autoCreate":"false","stateName":"","role":"","payloadType":"","readonly":"","stateUnit":"","stateMin":"","stateMax":"","x":860,"y":240,"wires":[]},{"id":"cc33dc5b.a0917","type":"ui_dropdown","z":"8a2785be.3d2fa8","name":"","label":"","tooltip":"Colortemp","place":"Colortemp","group":"e7c314ce.0afe98","order":4,"width":3,"height":1,"passthru":true,"multiple":false,"options":[{"label":"coolest","value":"coolest","type":"str"},{"label":"cool","value":"cool","type":"str"},{"label":"neutral","value":"neutral","type":"str"},{"label":"warm","value":"warm","type":"str"},{"label":"warmest","value":"warmest","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":580,"y":420,"wires":[["33163b75.c5ef64"]]},{"id":"41f08b1.e140b74","type":"ui_slider","z":"8a2785be.3d2fa8","name":"","label":"Helligkeit","tooltip":"","group":"e7c314ce.0afe98","order":15,"width":0,"height":0,"passthru":false,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":560,"y":480,"wires":[["1cf66cd4.b4edf3"]]},{"id":"33163b75.c5ef64","type":"ioBroker out","z":"8a2785be.3d2fa8","name":"LIDL-LED-Colortemp","topic":"zigbee.0.842e14fffe2c3b76.colortemp","ack":"false","autoCreate":"false","stateName":"","role":"","payloadType":"","readonly":"","stateUnit":"","stateMin":"","stateMax":"","x":880,"y":420,"wires":[]},{"id":"1cf66cd4.b4edf3","type":"ioBroker out","z":"8a2785be.3d2fa8","name":"LIDL-LED-brightness","topic":"zigbee.0.842e14fffe2c3b76.brightness","ack":"false","autoCreate":"false","stateName":"","role":"","payloadType":"","readonly":"","stateUnit":"","stateMin":"","stateMax":"","x":880,"y":480,"wires":[]},{"id":"1ae42b2e.3cc735","type":"ui_button","z":"8a2785be.3d2fa8","name":"Blau","group":"e7c314ce.0afe98","order":13,"width":1,"height":1,"passthru":false,"label":"Blue","tooltip":"","color":"","bgcolor":"Blue","icon":"","payload":"#0000ff","payloadType":"str","topic":"blau","topicType":"str","x":590,"y":300,"wires":[["350b76a3.f1459a"]]},{"id":"cb2ec893.443008","type":"ui_button","z":"8a2785be.3d2fa8","name":"Green","group":"e7c314ce.0afe98","order":11,"width":1,"height":1,"passthru":false,"label":"Grün","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"#00ff00","payloadType":"str","topic":"green","topicType":"str","x":590,"y":260,"wires":[["350b76a3.f1459a"]]},{"id":"b8f3f2d2.b9ff8","type":"ui_button","z":"8a2785be.3d2fa8","name":"Red","group":"e7c314ce.0afe98","order":9,"width":1,"height":1,"passthru":false,"label":"Rot","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"#ff0000","payloadType":"str","topic":"rot","topicType":"str","x":590,"y":220,"wires":[["350b76a3.f1459a"]]},{"id":"ce3fcb7b.f75228","type":"ioBroker in","z":"8a2785be.3d2fa8","name":"LIDL-LED-colortemp","topic":"zigbee.0.842e14fffe2c3b76.colortemp","payloadType":"value","onlyack":true,"func":"rbe","gap":"","fireOnStart":"false","x":130,"y":420,"wires":[["cc33dc5b.a0917"]]},{"id":"8173e27b.1cc22","type":"ui_button","z":"8a2785be.3d2fa8","name":"Neutralweiss","group":"e7c314ce.0afe98","order":6,"width":1,"height":1,"passthru":false,"label":"neutral","tooltip":"","color":"","bgcolor":"white","icon":"","payload":"neutral","payloadType":"str","topic":"White","topicType":"str","x":570,"y":360,"wires":[["33163b75.c5ef64"]]},{"id":"e6f20a65.5ec3f8","type":"ioBroker in","z":"8a2785be.3d2fa8","name":"LIDL-LED-brightness","topic":"zigbee.0.842e14fffe2c3b76.brightness","payloadType":"value","onlyack":true,"func":"rbe","gap":"","fireOnStart":"false","x":140,"y":480,"wires":[["41f08b1.e140b74"]]},{"id":"1b87abd0.847194","type":"ioBroker in","z":"8797ef2b.f9f06","name":"Relais","topic":"shelly.0.SHSW-1#E8DB84D514BA#1.Relay0.Switch","payloadType":"value","onlyack":"","func":"all","gap":"","fireOnStart":"false","x":90,"y":420,"wires":[["650c1b61.20f264"]]},{"id":"93331f02.86bb1","type":"inject","z":"8797ef2b.f9f06","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"test","payload":"true","payloadType":"str","x":120,"y":260,"wires":[["69ab59a8.f707f8"]]},{"id":"a4b2ff70.26d0c","type":"inject","z":"bc652bc1.5cb178","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"toggle","payloadType":"str","x":1220,"y":260,"wires":[["3ab4d767.858458"]]},{"id":"525c00c7.724d5","type":"ioBroker out","z":"8797ef2b.f9f06","name":"Relais Switch","topic":"shelly.0.SHSW-1#E8DB84D514BA#1.Relay0.Switch","ack":"false","autoCreate":"false","stateName":"","role":"","payloadType":"","readonly":"","stateUnit":"","stateMin":"","stateMax":"","x":1220,"y":200,"wires":[]},{"id":"8e190aa6.46d9f8","type":"change","z":"8797ef2b.f9f06","name":"Set Boolean False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":60,"wires":[["360ce4c5.cd82ec","525c00c7.724d5"]]},{"id":"29e7d45f.dea00c","type":"change","z":"8797ef2b.f9f06","name":"","rules":[{"t":"set","p":"toggle-me","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":220,"wires":[[]]},{"id":"1b6fe3d1.5580a4","type":"switch","z":"8797ef2b.f9f06","name":"","property":"toggle-me","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":320,"wires":[["8991bf63.f4d578"],["5fec9b00.abd0d4"]]},{"id":"8cddecf3.4a24f","type":"change","z":"8797ef2b.f9f06","name":"","rules":[{"t":"set","p":"toggle-me","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":360,"wires":[["525c00c7.724d5"]]},{"id":"1e692860.33a6d","type":"change","z":"8797ef2b.f9f06","name":"","rules":[{"t":"set","p":"toggle-me","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":280,"wires":[["525c00c7.724d5"]]},{"id":"dc371121.720208","type":"inject","z":"8797ef2b.f9f06","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":450,"y":220,"wires":[["29e7d45f.dea00c"]]},{"id":"5fec9b00.abd0d4","type":"change","z":"8797ef2b.f9f06","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":360,"wires":[["8cddecf3.4a24f"]]},{"id":"8991bf63.f4d578","type":"change","z":"8797ef2b.f9f06","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":280,"wires":[["1e692860.33a6d"]]},{"id":"f40c5c0.c964128","type":"comment","z":"8797ef2b.f9f06","name":"At startup set default value (false)","info":"","x":680,"y":180,"wires":[]},{"id":"e62c42b2.ed0408","type":"comment","z":"8797ef2b.f9f06","name":"if flow.state is true set it to false, if flow.state is false set it to true","info":"","x":770,"y":320,"wires":[]},{"id":"3ef7fbb1.9c6404","type":"ui_template","z":"8797ef2b.f9f06","group":"1df4d7a2.c3e7d8","name":"","order":1,"width":0,"height":0,"format":"<div layout=\"row\">\n    <font color=\"{{msg.payload ? 'yellow' : 'grey'}}\">  \n        <i class=\"fa fa-lightbulb-o fa-2x\" aria-hidden=\"true\"></i>\n    </font>\n    <p>Schlafi</p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":400,"y":420,"wires":[[]]},{"id":"36beb00a.e9e29","type":"ui_template","z":"bc652bc1.5cb178","group":"1df4d7a2.c3e7d8","name":"","order":2,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between center\" style=\"padding: 0 6px;\">\n    <p>Treppenhaus</p>\n<font color=\"{{msg.payload ? 'yellow' : 'grey'}}\">\n  <i class=\"fa fa-lightbulb-o fa-2x\" aria-hidden=\"true\"></i>\n</font>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":380,"y":800,"wires":[[]]},{"id":"2cfbbcdd.0fbd54","type":"ui_template","z":"212d815c.fa01ae","group":"1df4d7a2.c3e7d8","name":"","order":3,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between center\" style=\"padding: 0 6px;\">\n<p>Flur Oben</p>\n<font color=\"{{msg.payload ? 'yellow' : 'grey'}}\">\n  <i class=\"fa fa-lightbulb-o fa-2x\" aria-hidden=\"true\"></i>\n</font>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":380,"y":800,"wires":[[]]},{"id":"cbaa00ce.7131a","type":"change","z":"bc652bc1.5cb178","name":"str->boo","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":800,"wires":[["36beb00a.e9e29"]]},{"id":"b67baeb8.ef804","type":"change","z":"212d815c.fa01ae","name":"str->boo","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":800,"wires":[["2cfbbcdd.0fbd54"]]},{"id":"650c1b61.20f264","type":"change","z":"8797ef2b.f9f06","name":"str->boo","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":420,"wires":[["3ef7fbb1.9c6404"]]},{"id":"69ab59a8.f707f8","type":"switch","z":"8797ef2b.f9f06","name":"only true","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":320,"wires":[["1b6fe3d1.5580a4"]]},{"id":"5934f422.05c14c","type":"inject","z":"8797ef2b.f9f06","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"test","payload":"true","payloadType":"str","x":120,"y":140,"wires":[["dca43cbd.c2cc7"]]}]